<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HealthItemMapper">
    
    <resultMap type="HealthItem" id="HealthItemResult">
        <result property="healthItemId"    column="health_item_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="healthItemName"    column="health_item_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectHealthItemVo">
        select health_item_id, dept_id, health_item_name, create_by, create_time, update_by, update_time from health_item
    </sql>

    <select id="selectHealthItemList" parameterType="HealthItem" resultMap="HealthItemResult">
        <include refid="selectHealthItemVo"/>
        <where>  
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="healthItemName != null  and healthItemName != ''"> and health_item_name like concat('%', #{healthItemName}, '%')</if>
        </where>
    </select>
    
    <select id="selectHealthItemById" parameterType="Long" resultMap="HealthItemResult">
        <include refid="selectHealthItemVo"/>
        where health_item_id = #{healthItemId}
    </select>
        
    <insert id="insertHealthItem" parameterType="HealthItem" useGeneratedKeys="true" keyProperty="healthItemId">
        insert into health_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="healthItemName != null and healthItemName != ''">health_item_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="healthItemName != null and healthItemName != ''">#{healthItemName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateHealthItem" parameterType="HealthItem">
        update health_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="healthItemName != null and healthItemName != ''">health_item_name = #{healthItemName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where health_item_id = #{healthItemId}
    </update>

    <delete id="deleteHealthItemById" parameterType="Long">
        delete from health_item where health_item_id = #{healthItemId}
    </delete>

    <delete id="deleteHealthItemByIds" parameterType="String">
        delete from health_item where health_item_id in 
        <foreach item="healthItemId" collection="array" open="(" separator="," close=")">
            #{healthItemId}
        </foreach>
    </delete>
</mapper>